<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

th {
    text-align: left;
}
</style>

<h1>{{ certificate.common_name }}</h1>

<a href="{% url 'certs:index'%}">Go back to index</a>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table style="border: 1px solid black">
    {% for field, value in certificate.items %}
    <tr>
        <th>{{ field }}</th>
        <th><pre>{{ value }}</pre></th>
    </tr>
    {% endfor %}
</table>
