<a href="{% url 'certs:ca_create'%}">Create CA certificate</a><br>
<a href="{% url 'certs:create'%}">Create new certificate</a><br>
<a href="{% url 'certs:ca_index'%}">Show all CA certificates</a><br>
<a href="{% url 'certs:index'%}">Show all certificates</a>
{% if certificate_list %}
    <ul>
    {% for certificate in certificate_list %}
        <li><a href="{% url 'certs:detail' certificate.id %}">
            {% if certificate.common_name %}
            {{ certificate.common_name }}
            {% else %}
            certificate id = {{ certificate.id }}
            {% endif %}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}